#rangeInput input {
	border-radius: 13px;
	border: 3px solid theme('colors.slate.400');
	background: theme('colors.slate.200');
	--tw-ring-color: rgba(75, 246, 59, 0.5);
}

#rangeInput input[type="range"]::-moz-range-thumb {
	background-color: #0B0 !important;
}